.breaking-news-container {
    overflow: hidden; /* Ensures the ticker content is hidden if it overflows */
    white-space: nowrap; /* Prevents the ticker content from wrapping */
  }
  
  .ticker {
    display: inline-block; /* Displays the ticker items inline */
    padding: 0 10px; /* Adds padding around each ticker item */
    font-size: 16px; /* Adjust font size as needed */
  }
  
  .news-source {
    color: #336791; /* Style the news source text */
    font-weight: bold; /* Make the news source text bold */
  }
  
  .news-title {
    color: #D5441C; /* Style the news title text */
  }