.Font-Spacer-White {
    font-family: "Verdana";
    font-size: x-small;
    color: #ffffff;
}

.Font-Verdana-XSmall {
    font-family: "Verdana";
    font-size: x-small;
    color: #c4b0aa;
}

.Font-Verdana-Small-Footer {
    font-family: "Verdana";
    font-size: x-small;
    color: #5c5a5a;
}

.Font-Calibri-Medium-MyCV {
    font-family: "Candara";
    font-size: small;
    font-style: italic;
    font-weight: bolder;
    color: #336791;
    justify-content:stretch;
}

.Font-Verdana-Small {
    font-family: "Verdana";
    font-size: small;
    font-style: italic;
    color: #DDDDDD;
}

.Font-Verdana-Medium {
    font-family: "Verdana";
    font-size: medium
}

.Font-Verdana-Medium-Bold {
    font-family: "Verdana";
    font-size: medium;
    font-weight: bold;
}

.Font-Verdana-Medium-Italic-Rusty {
    font-family: "Verdana";
    font-size: medium;
    font-style: italic;
    color: #D5441C;
}

.Font-Verdana-Large {
    font-family: "Verdana";
    font-size: large
}

.Font-Verdana-Small-Rusty {
    font-family: "Verdana";
    font-size: small;
    color: #D5441C
}

.Font-Verdana-Small-Postgres {
    font-family: "Verdana";
    font-size: small;
    color: #336791
}

.Font-Verdana-Medium-Postgres {
    font-family: "Verdana";
    font-size: medium;
    color: #336791
}

.Font-Verdana-Medium-T {
    font-family: "Verdana";
    font-size: medium;
    color: #336791
}

.Font-Verdana-Small-T {
    font-family: "Verdana";
    font-size: small;
    color: #336791
}


.Font-Verdana-Medium-LinkedIn {
    font-family: "Verdana";
    font-size: medium;
    color: #0A66C2
}

.Font-Verdana-Medium-Howto {
    font-family: "Verdana";
    font-size: medium;
    color: #000000
}

.Font-Verdana-Large-Howto {
    font-family: "Verdana";
    font-size: large;
    color: #423333
}

.Font-Verdana-Medium-Howto-Rusty {
    font-family: "Verdana";
    font-size: medium;
    color: #D5441C
}

.Font-Verdana-Large-Howto-Rusty {
    font-family: "Verdana";
    font-size: large;
    color: #D5441C
}

.Font-Verdana-Larger-Howto-Rusty {
    font-family: "Verdana";
    font-size: larger;
    color: #D5441C
}

.Font-Verdana-Larger-Howto-Postgres {
    font-family: "Verdana";
    font-size: larger;
    color: #336791
}


.Font-Calibri-Large-Howto {
    font-family: "Calibri";
    font-size: large;
    color: #0c0c0c
}

.Font-Calibri-Larger-Howto {
    font-family: "Calibri";
    font-size: larger;
    color: #0c0c0c
}

.Font-Calibri-XLarge-Howto {
    font-family: "Calibri";
    font-size: x-large;
    color: #0c0c0c
}

.Font-Calibri-XXLarge-Howto {
    font-family: "Calibri";
    font-size: xx-large;
    color: #0c0c0c
}

.Font-Verdana-Large-Howto-Italic-Rusty {
    font-family: "Verdana";
    font-size: large;
    font-style: italic;
    color: #D5441C;
}

.Font-Calibri-Large-Howto-Italic-Rusty {
    font-family: "Calibri";
    font-size: large;
    font-style: italic;
    color: #D5441C;
}

.CV-Font-Calibri-Large-Black {
    font-family: "Calibri";
    font-size: large;
    color: #000000;
    font-weight: lighter;
    
}

.CV-Font-Segoe-Large-Italic {
    border: 1px solid rgb(233, 228, 228);
    background-color: #f7f4f3;
    font-family: "Segoe";
    font-size: large;
    font-style: italic;
    color: #336791;
    padding: 14px;
    font-weight: lighter;
}

.Font-Segoe-Small {
    /* border: 1px solid rgb(233, 228, 228); */
    /* background-color: #f7f4f3; */
    font-family: "Segoe UI";
    font-size: small;
    /* font-style: italic; */
    color: #336791;
    /* padding: 14px; */
    /* font-weight: lighter; */
}

.Font-Segoe-Medium {
    /* border: 1px solid rgb(233, 228, 228); */
    /* background-color: #f7f4f3; */
    font-family: "Segoe UI";
    font-size: medium;
    /* font-style: italic; */
    color: #336791;
    /* padding: 14px; */
    /* font-weight: lighter; */
}


.CV-Font-Calibri-Large-Italic-PG {
    border: 1px solid rgb(233, 228, 228);
    background-color: #ffffff;
    font-family: "Segoe UI";
    font-size: large;
    font-style: italic;
    color: #336791;
    padding: 14px;
    font-weight:normal;
    border-radius: 6px;
}

.Font-Calibri-Large-Howto-Italic-Rusty-CV-2 {
    border: 1px solid rgb(233, 228, 228);
    background-color: #ffffff;
    font-family: "Calibri";
    font-size: large;
    font-style: italic;
    color: #336791;
    padding: 14px;
    font-weight: lighter;
}

.Font-Segoe-Medium-Howto {
    font-family: "Segoe UI";
    font-size: medium;
    color: #2e2828
}

.Font-Segoe-Medium-Howto-CV {
    font-family: "Segoe UI";
    font-size: small;
    color: #8f9192;
    font-style: italic;
    font-weight: normal;
}

.Font-Segoe-Medium-Howto-Desc {
    font-family: "Segoe UI";
    font-size: medium;
    color: #333030;
    font-style: italic;
    font-weight: normal;
}

.Font-Segoe-Large-Howto {
    font-family: "Segoe UI";
    font-size: large;
    color: #0c0c0c;
    cursor: pointer;
}

.Font-Verdana-Medium-Indeed {
    font-family: "Verdana";
    font-size: medium;
    color: #003A9B
}


.Font-Verdana-Smaller_Insert {
    font-family: "Verdana";
    font-size: smaller;
    color: #444342
}

.Font-Verdana-Small_Compliment_Blue {
    font-family: "Verdana";
    font-size: small;
    color: #1CADD5
}


.Font-Verdana-QuickAdd {
    font-family: "Verdana";
    font-size: small;
    color: grey
}

/* .Table-Column-200 {width: 200px;} */


.Table6 th {
    background-color: #f7f4f3;
    padding: 4px;
    font-family: "Verdana";
    font-size: small;
}

.Table6 td {
    border: 1px solid rgb(233, 228, 228);
    padding: 4px;
    font-family: "Verdana";
    font-size: small;
    min-width: 50%;
}

.Table5{
    /* background-color: #f7f4f3; */
    background-color: #ffffff;
    padding: 4px;
    font-family: "Verdana";
    font-size: small ;
    border: 1px solid rgb(233, 228, 228);
    font-weight: normal;
    text-align: right;
    /* min-width: 50%; */
}e-right

.Table5-hover:hover {
    font-family: "Verdana";
    font-size: small;
    color: #D5441C;
    background-color: #f7f4f3;
    border-radius: 4px;
    border: 1px solid #336791;
    /* padding: 4px; */
    font-weight: normal;
}

.Table4 th {
    background-color: #f7f4f3;
    padding: 4px;
    font-family: "Calibri";
    font-size: xx-large;
    border-radius: 8px;
}

.Table4 td {
    border: 1px solid rgb(233, 228, 228);
    padding: 4px;
    font-family: "Calibri";
    font-size: xx-large;
    min-width: 50%;
    border-radius: 8px;
}

.TableCVhover {
    border: 1px solid rgb(233, 228, 228);
    background-color: #b3360d;
    padding: 10px;
    font-family: "Segoe UI";
    font-size: 25px;
    border-radius: 8px;
}

.TableCV th {
    border: 1px solid rgb(233, 228, 228);
    background-color: #f7f4f3;
    padding: 10px;
    font-family: "Calibri";
    font-size: 45px;
    border-radius: 8px;
}

.TableHowto th {
    border: 1px solid rgb(233, 228, 228);
    background-color: #f7f4f3;
    padding: 10px;
    font-family: "Calibri";
    font-size: 35px;
    border-radius: 8px;
}



/* .TableCV td {
    border: 1px solid rgb(233, 228, 228);
    background-color: #f7f4f3;
    padding: 4px;
    font-family: "Calibri";
    font-size: large;
    min-width: 50%;
}

.TableCV tr {
    border: 1px solid rgb(233, 228, 228);
    padding: 4px;
    font-family: "Calibri";
    font-size: large;
    min-width: 50%;
} */

.Table6 td {
    border: 1px solid rgb(233, 228, 228);
    padding: 4px;
    min-width: 50%;
}

.scrollable-container {
    /* background-color: #ffffff; */
    /* max-height: 2300px;  */
    /* overflow-y: auto; */
  }

.Table-home-left{
    background-color: #ffffff;
    font-family: "Verdana";
    font-size: large;
    font-weight: normal;
    text-align: right;
    vertical-align: top;
}

.Table-home-left-text{
    background-color: #ffffff;
    font-family: "Verdana";
    font-size: small;
    font-weight: normal;
    text-align: right;
    vertical-align: top;
}

.Table-home-right-text{
    background-color: #ffffff;
    font-family: "Verdana";
    font-size: small;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}

.Table-home-left-heading{
    background-color: #ffffff;
    font-family: "Verdana";
    font-size: large;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    color: #D5441C;
}

.Table-home-right-heading{
    background-color: #ffffff;
    font-family: "Verdana";
    font-size: large;
    font-weight: normal;
    text-align: right;
    vertical-align: top;
    color: #D5441C;
}

.Table-home-centre{
    background-color: #ffffff;
    padding: 4px;
    font-family: "Verdana";
    font-size: small ;
    text-align: justify;
    font-weight: normal;
    vertical-align: top;
}

.Table-home-right{
    background-color: #ffffff;
    font-family: "Verdana";
    font-size: large;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}

.Table-home-right-cats{
    background-color: #ffffff;
    padding: 4px;
    font-family: "Verdana";
    font-size: small ;
    text-align: justify;
    font-weight: normal;
    vertical-align: top;
}


.Table-howtoedit{
    font-family: "Calibri";
    font-size: larger;
    color: #D5441C;
    background-color: #f7f4f3;
    border-radius: 4px;
    border: 1px solid #336791;
    font-weight: normal;
}

/* .asmshover:hover {
    font-family: "Verdana";
    font-size: small;
    color: #D5441C;
    background-color: #f7f4f3;
    padding: 2px;
} */

.ashoverms:hover {
    font-family: "Verdana";
    font-size: small;
    color: #D5441C;
    background-color: #f7f4f3;
    border-radius: 3px;
    border: 1px solid #336791;
    padding: 4px;
}

.fphover:hover {
    font-family: "Verdana";
    font-size: small;
    color: #D5441C;
    background-color: #f7f4f3;
    border-radius: 3px;
    border: 1px solid #336791;
}

.mycvhover:hover {
    font-family: "Segoe UI";
    font-size: large;
    font-style: italic;
    color: #000000;
    background-color: #f7f4f3;
    border-radius: 4px;
    border: 1px solid #336791;
    padding-right: 5px;
}


.banner-light {
    background-color: #f7f4f3;
    padding: 1px;
    text-align: right;
  }

.banner-white {
    background-color: #ffffff;
    padding: 1px;
    text-align: left;
  }

  
.gradient-line-linkedin {
    width: 100%;
    height: 3px; 
    background: linear-gradient(to right, #0A66C2, #f5f9fa);
  }

.gradient-line {
    width: 100%;
    height: 3px; 
    background: linear-gradient(to right, #336791, #f5f9fa);
  }
 

  .gradient-line-rusty {
    width: 100%;
    height: 3px; 
    background: linear-gradient(to right,  #D5441C, #f5f9fa);
  }


  .gradient-line-thin {
    width: 100%;
    height: 1px; 
    background: linear-gradient(to right, #cfcbd1, #ffffff);
  }

  .spacer-light {
    font-family: "Segoe UI";
    font-size: x-large;
    color: #f7f4f3
}

.tooltip {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
/* Tooltip arrow */
.tooltip-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }
  
  /* Tooltip content */
  .tooltip-inner {
    background-color: black;
    color: white;
    padding: 8px;
  }
    
  .footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f7f4f3;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

